<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel="stylesheet" href='/stylesheets/reset.css' />
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-title">
                <h1>Jinho's page</h1>
            </div>
        </div>
        <div class="container">
            <div class="img-wrapper">
                <img src="/images/sample_img_01.jpg" alt="">
            </div>
            <div class="img-wrapper">
                <img src="/images/sample_img_02.jpg" alt="">
            </div>
            <div class="img-wrapper">
                <img src="/images/sample_img_03.jpg" alt="">
            </div>
            <div class="img-wrapper">
                <img src="/images/sample_img_04.jpg" alt="">
            </div>
            <div class="img-wrapper">
                <img src="/images/sample_img_05.jpg" alt="">
            </div>
            <div class="img-wrapper">
                <img src="/images/sample_img_06.jpg" alt="">
            </div>
            <div class="img-wrapper">
                <img src="/images/sample_img_07.jpg" alt="">
            </div>
        </div>
    </div>
</body>

</html>