<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel="stylesheet" href='/stylesheets/reset.css' />
</head>

<body>
    <div class="wrapper">
        <% if(user){ %>
        <div class="header">
            <div class="header-title">
                <h1>
                    <%= user.nick %>'s page</h1>
            </div>
        </div>
        <div class="container">
            <div class="img-upload">
                <form action="/post" method="POST" enctype="multipart/form-data">
                    <h1>Upload Your Image!</h1>
                    <input type="file" accept="image/*">
                </form>
            </div>
            <div class="img-wrapper">
                
            </div>
            <!-- <img src="/images/sample_img_01.jpg" alt=""> -->
        </div>
        <% { %>
    </div>
</body>

</html>